*{
    font-family: sans-serif;
    user-select: none;
}

.certificate-wrapper {
    position: fixed;       /* important */
    inset: 0;              /* full screen */
    background: rgba(0, 0, 0, 0.6); /* dark overlay */
    display: none;         /* hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.certificate {
    width: 900px;
    padding: 60px;
    margin: auto;
    background: linear-gradient(135deg, #ffffff, #f0f6ff);
    border-radius: 12px;
    position: relative;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* Decorative shapes */
.certificate::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: #2563eb;
    border-radius: 50%;
    top: -100px;
    left: -100px;
    opacity: 0.15;
}

.certificate::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: #1d4ed8;
    border-radius: 50%;
    bottom: -80px;
    right: -80px;
    opacity: 0.15;
}

.company {
    font-size: 14px;
    font-weight: 600;
    color: #334155;
}

.title {
    font-size: 48px;
    color: #1d4ed8;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 5px;
    letter-spacing: 2px;
    color: #475569;
}

.presented {
    margin-top: 30px;
    font-size: 14px;
    color: #64748b;
}

.username {
    font-size: 40px;
    margin: 20px 0;
    color: #1e3a8a;
    font-weight: bold;
}

.description {
    width: 70%;
    margin: auto;
    color: #475569;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.label {
    font-size: 12px;
    color: #64748b;
}

.badge {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #2563eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2563eb;
}

.download-btn {
    margin-top: -60px;
    margin-bottom: 30px;
    padding: 12px 25px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

.signature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20% !important;
}