.heading-box {
    position: relative;
    border: 1px solid #DA360A;
    background-color: #da370a3a;
    width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    margin-left: 20px;
    color: #fff;
    padding: 5px 15px;
}
.heading{
    margin-left: 0px !important;
}
.heading-box h1{
    display: inline;
    font-size: 1.8rem;
    font-weight: 200;
    color: black;
}
.reviewheading{
    margin: 0px auto;
}
.reviewheading h1{
    display: inline;
    font-size: 2rem;
    font-weight: 200;
    color: white;
}
.heading-box .dot {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
}

.tl {
    top: -2px;
    left: -2px;
}

.tr {
    top: -2px;
    right: -2px;
}

.bl {
    bottom: -2px;
    left: -2px;
}

.br {
    bottom: -2px;
    right: -2px;
}