* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --dark-color: #000000;
    --light-color: #fff;
    --sans-serif: sans-serif;
    --orange-color: #DA360A;
    --nav-background: #151010;
}

body {
    background-color: var(--dark-color);
    font-family: var(--sans-serif);
}

/* font declaration */

@font-face {
    font-family: "font1";
    src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: "font2";
    src: url('../fonts/Orbitron/Orbitron-Bold.ttf');
}

@font-face {
    font-family: "font3";
    src: url('../fonts/Orbitron/Orbitron-SemiBold.ttf');
}

@font-face {
    font-family: "font4";
    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: "font5";
    src: url('../fonts/Red_Rose/RedRose-Bold.ttf');
}

@font-face {
    font-family: "font6";
    src: url('../fonts/Red_Rose/RedRose-SemiBold.ttf');
}

@font-face {
    font-family: "font7";
    src: url('../fonts/Red_Rose/RedRose-VariableFont_wght.ttf');
}

@font-face {
    font-family: "font8";
    src: url('../fonts/Sirin_Stencil/SirinStencil-Regular.ttf');
}

/* navbar */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 9px 20px;
    /* backdrop-filter: blur(10px); */
    background-color: #000;
    font-family: 'font8';
}

#navbar .left-nav {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

#navbar .left-nav h1 {
    color: var(--light-color);
}

#navbar .left-nav img {
    width: 40px;
    height: 40px;
}

#navbar .center-nav {
    height: 50px;
    width: auto;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--nav-background);
    border: 1px solid;
    border-radius: 10px;
}

.center-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-nav li a {
    position: relative;
    height: 26px;
    /* match line-height */
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.text {
    display: block;
    font-size: 18px;
    line-height: 28px;
    /* 👈 SAME as height */
    transition: transform 0.4s ease;
}

/* Default text */
.top {
    color: var(--light-color);
    transform: translateY(0);
}

/* Hover text (hidden below) */
.bottom {
    color: var(--orange-color);
    transform: translateY(100%);
}

/* Hover animation */
.center-nav li a:hover .top {
    transform: translateY(-100%);
}

.center-nav li a:hover .bottom {
    transform: translateY(-100%);
}

#navbar .right-nav {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar .right-nav a {
    color: var(--light-color);
    font-size: 1.2rem;
}

/* profile menu */
.menu {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 300px;
    height: auto;
    padding: 19px;
    border: 1px solid #da370a85;
    z-index: 1000;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* display: none; */
}

.menu h3 {
    color: white;
    cursor: pointer;
}

.menu .menu-devider {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.119);
}

.menu .logout {
    color: rgb(254, 3, 3);
    text-align: center;
    font-family: 'font8';
    border: 1px solid rgb(254, 3, 3);
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    border-radius: 15px;
    background: rgba(220, 20, 60, 0.416);
    backdrop-filter: blur(55px);
    cursor: pointer;
    margin: 0px auto;
    font-size: 1.5rem;
    position: relative;
}

.menu .closebutton{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Hero Section */
#HeroSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    position: relative;

}

#HeroSection .orange {
    color: var(--orange-color);
    text-transform: uppercase;
    margin-top: 12vw;
    font-size: 1.3rem;
    font-weight: 200;
}

#HeroSection h1 {
    color: var(--light-color);
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 200;
    font-family: 'font8';
}

#HeroSection .blob {
    position: absolute;
    top: 60%;
    z-index: -1;
    width: 500px;
    height: 200px;
    background: #DA360A;
    filter: blur(260px);
    border: 50%;
}

#HeroSection h2 {
    color: var(--light-color);
    text-align: center;
    font-family: 'font5';
}

.get-start {
    position: relative;
    height: 26px;
    /* match line-height */
    overflow: hidden;
    display: flex;
    text-decoration: none;
    background-color: #DA360A;
    padding: 25px 30px;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.3s ease;
    font-family: 'font5';
}

.get-start:hover {
    filter: drop-shadow(0px 0px 20px #DA360A);
}

.get-start .top {
    transform: translateY(50%) !important;
}

.get-start:hover .top {
    transform: translateY(-100%) !important;
}

.get-start .bottom {
    color: var(--light-color);
}

.get-start:hover .bottom {
    transform: translateY(-50%);
}

/* video */
.video {
    margin: 20% auto;
    height: 80vh;
    width: 70vw;
    border: 1px solid var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding: 30px;
}

.video .mac-buttons {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

.video .mac-buttons .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.video .video-container {
    width: 100%;
    height: 95%;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* company showcase */
.companies {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.companies .carousel {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    animation: carousel 20s linear infinite;
    transform: translateX(0%);
}

.companies .carousel img {
    height: 90px;
    flex-shrink: 0;
}

@keyframes carousel {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

/* courses */

#courses {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    background-color: var(--dark-color);
    border-radius: 25px;
}

#courses .heading {
    margin-top: 1rem;
}

#courses .heading h1 {
    color: var(--light-color);
    font-family: 'font8';
}

#courses .dot {
    background-color: var(--light-color) !important;
}

/* course cards */

.coursecard-container {
    width: 100%;
    height: auto;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    gap: 15px;
}

.card {
    width: 100%;
    background: var(--dark-color);
    border-radius: 20px;
    overflow: hidden;
    color: white;
    transition: 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.303);
}

.card:hover {
    transform: translateY(-10px);
}

.card-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-content {
    padding: 25px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tags span {
    padding: 6px 14px;
    font-size: 12px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

h2 {
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 500;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.new-price {
    font-size: 24px;
    font-weight: bold;
    color: #ff6a00;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #aaa;
}

.discount {
    background: white;
    color: black;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #ff6a00;
    border: none;
}

/* course cards end */

/* review section */

.reviews {
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.reviews h1 {
    font-family: 'font8';
}

.reviewheading span {
    color: #DA360A;
}

.review-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10rem;
    position: relative;
}

.moving-review {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: movingcards 300s linear infinite;
    transform: translateX(0%);
}

@keyframes movingcards {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.review-card {
    width: 420px;
    padding: 25px;
    border-radius: 18px;
    background: radial-gradient(circle at top left,
            #2a0d0d,
            #0b0505);
    color: #fff;
    font-family: sans-serif;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

/* Header */
.review-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.review-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* User info */
.user-info h3 {
    font-size: 18px;
    font-weight: 500;
}

.user-info p {
    font-size: 14px;
    color: #a1a1a1;
    margin-top: 4px;
}

/* Divider */
.review-card hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 18px 0;
}

/* Rating */
.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
}

.score {
    font-size: 15px;
    color: #bdbdbd;
}

.stars {
    color: #facc15;
    font-size: 18px;
}

/* Review text */
.review-text {
    font-size: 16px;
    line-height: 1.5;
    color: #e5e5e5;
}

.left-blob {
    position: absolute;
    z-index: 10;
    top: -10%;
    left: -30%;
    height: 400px;
    width: 500px;
    background-color: var(--dark-color);
    filter: blur(30px);
}

.right-blob {
    position: absolute;
    z-index: 10;
    top: -10%;
    right: -30%;
    height: 400px;
    width: 500px;
    background-color: var(--dark-color);
    filter: blur(30px);
}

#FAQ {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;
}

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 8rem;
    height: auto;
    width: 60vw;
}

.faq-item {
    background: #000;
    border-radius: 12px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #ffffff3c;
}

.faq-item hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 18px 0;
}

/* Question */
.faq-question {
    width: 100%;
    background: transparent;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Arrow */
.arrow {
    transition: transform 0.3s ease;
    font-size: 30px;
}

.arrow i {
    color: #DA360A;
}

/* Answer */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    padding: 0 20px;
}

.faq-answer p {
    padding: 15px 0 20px;
    color: #d1d5db;
    line-height: 1.6;
}

/* Active state */
.faq-item.active .faq-answer {
    max-height: 200px;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}


#footer{
    width: 100%;
    height: 80px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.179);
}

#footer span{
    color: #DA360A;
}

#footer p{
    color: white;
}