<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnHub | Home</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="../static/images/open-book.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/headingbox.css">
    <!-- remix icons cdn -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <nav id="navbar">
        <div class="left-nav">
            <img src="../static/images/open-book.jpg" alt="">
            <h1>LearnHub</h1>
        </div>
        <ul class="center-nav">
            <li>
                <a href="#">
                    <span class="text top">Home</span>
                    <span class="text bottom">Home</span>
                </a>
            </li>
            <li>
                <a href="#courses">
                    <span class="text top">Courses</span>
                    <span class="text bottom">Courses</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="text top">Request Callback</span>
                    <span class="text bottom">Request Callback</span>
                </a>
            </li>
        </ul>
        <div class="right-nav">
            {% if user %}

            <a href="/logout" title="logout">{{user}}</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </div>
    </nav>

    <section id="HeroSection">
        <div class="blob"></div>
        <h1 class="orange">learn. build. getplaced.</h1>
        <h1 class="main-heading">
            become the software engineer <br>that<span class="heading-box">Companies
                <span class="dot tl"></span>
                <span class="dot tr"></span>
                <span class="dot bl"></span>
                <span class="dot br "></span>
            </span>
            want to hire!
        </h1>
        <h2>Join a growing community of students preparing for real-world tech career at <br>LearnHub.</h2>
        <button class="get-start" onclick="window.location.href='/#courses'">
            <span class="text top">Get Start <i class="ri-arrow-right-long-fill"></i></span>
            <span class="text bottom">Get Start <i class="ri-arrow-right-long-fill"></i></span>
        </button>
    </section>
    <div class="video">
        <div class="mac-buttons">
            <div class="dot red"></div>
            <div class="dot yellow"></div>
            <div class="dot green"></div>
        </div>
        <div class="video-container">
            <video autoplay muted loop>
                <source src="https://www.pexels.com/download/video/4709297/">
            </video>
        </div>
    </div>
    <div class="companies">
        <div class="carousel">
            <img src="../static/images/amazon.webp" alt="">
            <img src="../static/images/infosys.webp" alt="">
            <img src="../static/images/tcs.webp" alt="">
            <img src="../static/images/walmart.webp" alt="">
            <img src="../static/images/wipro.webp" alt="">
            <img src="../static/images/amazon.webp" alt="">
            <img src="../static/images/infosys.webp" alt="">
            <img src="../static/images/tcs.webp" alt="">
            <img src="../static/images/walmart.webp" alt="">
            <img src="../static/images/wipro.webp" alt="">
            <img src="../static/images/amazon.webp" alt="">
            <img src="../static/images/infosys.webp" alt="">
            <img src="../static/images/tcs.webp" alt="">
            <img src="../static/images/walmart.webp" alt="">
            <img src="../static/images/wipro.webp" alt="">
            <img src="../static/images/amazon.webp" alt="">
            <img src="../static/images/infosys.webp" alt="">
            <img src="../static/images/tcs.webp" alt="">
            <img src="../static/images/walmart.webp" alt="">
            <img src="../static/images/wipro.webp" alt="">
        </div>
    </div>
    <section id="courses">
        <span class="heading-box heading">
            <h1>Courses</h1>
            <span class="dot tl"></span>
            <span class="dot tr"></span>
            <span class="dot bl"></span>
            <span class="dot br "></span>
        </span>
        <div class="coursecard-container">

        </div>
        <a href="" style="color: white;">View More courses <i class="ri-arrow-right-long-fill"></i></a>
    </section>
    <section class="reviews">
        <span class="heading-box reviewheading">
            <h1>What our <span>Students</span> say ?</h1>
            <span class="dot tl"></span>
            <span class="dot tr"></span>
            <span class="dot bl"></span>
            <span class="dot br "></span>
        </span>
        <div class="review-container">
            <div class="left-blob"></div>
            <div class="right-blob"></div>
            <div class="moving-review">
                <!-- render by javascript -->
            </div>
        </div>
    </section>
    <section id="FAQ">
        <span class="heading-box reviewheading">
            <h1>FAQS</h1>
            <span class="dot tl"></span>
            <span class="dot tr"></span>
            <span class="dot bl"></span>
            <span class="dot br "></span>
        </span>
        <div class="faq-container" id="faq-container">
            <!-- dynamic by javascript -->

        </div>
    </section>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/review.js"></script>
    <script src="../static/js/faq.js"></script>
    <script src="../static/js/cards.js"></script>
</body>

</html>