<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/open-book.jpg" type="image/x-icon">
    <title>LearnHub | Progress</title>
    <style>
        body{
            background-color: #000;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <img src="data:image/png;base64,{{ plot_url }}" alt="progress of LearnHub" style="margin-top: -60px;margin-left: -60px;">

</body>
</html>
